@model BOERP.Web.ERP_LoginMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentMenuID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMenuID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deletedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deletedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isdeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isdeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMenuVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMenuVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifiedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifiedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifiedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifiedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
