
@{
	ViewBag.Title = "Sale Order";
	Layout = "~/Views/Shared/_Layout.cshtml";

	string loginIDs = clsApplicationSetting.GetSessionValue("LoginID");

	var pageTitle = (ViewBag.OrderId > 0) ? "Edit Sale Order" : "Create Sale Order";
}

<style>
	.suggestions {
		width: 280px !important
	}
</style>
<input type="hidden" id="hdnOrderId" value="@ViewBag.OrderId" />
<input type="hidden" id="hdnType" value="@ViewBag.Type" />
<input type="hidden" id="hdnPageType" value="@ViewBag.PageType" />

<div class="pagetitle gap-bottom d-flex justify-content-between">
	<h1 class="m-0 d-flex align-items-center">
		<a href="/ManageOrder/OrderList?auth=@ViewBag.Auth"><img src="~/assets/images/icons/help/back-icon.png" class="headingicon"></a>
		@pageTitle<div class="ml-3"></div>
	</h1>
	<div class="align-self-center"></div>
</div>
<div class="row">
	<div class="col-lg-6 form-group">
		<div class="card h-100 br-none p-0">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Client Information</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group pb-0">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label class="readonlay">Customer<sup>*</sup></label>
						@*<select class="form-control applyselect MandateOrder" id="ddlCustomer" name="" onchange="HideErrorMessage(this); GetContactPersonByPAId(this); changeItemData()"></select>
							<span id="spddlCustomer" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>*@

						<div class="autocomplete-wrapper pr" style="position: relative;">
							<label for="ddlCustomer" class="search-label right">
								<img src="../assets/images/icons/help/search-icon.png" class="icon-sm">
							</label>
							<input type="hidden" id="ddlCustomerId"> <!-- Hidden actual ID -->
							<input type="text" class="form-control searchlist pl-10 MandateOrder" id="ddlCustomer" placeholder="Enter" autocomplete="off" oninput="HideErrorMessage(this);">

							<ul class="suggestions p-a" id="ddlCustomerList"></ul>
							<span id="spddlCustomer" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
						</div>

					</div>
					<div class="col-sm-6 form-group">
						<label>Customer Contact Person<sup>*</sup></label>
						<select class="form-control applyselect MandateOrder" id="ddlContactPerson" name="" onchange="HideErrorMessage(this);"></select>
						<span id="spddlContactPerson" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>

					<div class="col-sm-6 form-group">
						<label>Customer Brand Name<sup>*</sup></label>
						<div style="display:none">
							<select class="form-control applyselect" id="ddlBrand" name="" onchange="HideErrorMessage(this);" disabled></select>
							<span id="spddlBrand" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
						</div>

						<input id="txtCustBrandName" disabled type="text" class="form-control readonlyfield MandateOrder" placeholder="" onchange="HideErrorMessage(this)">
						<span id="sptxtCustBrandName" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>
					</div>

				</div>
			</div>

			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Raised By</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="" class="readonlay">Name</label>
						<p id="lblReqName"></p>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 form-group">
		<div class="card br-none p-0">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Basic Information</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group">
				<div class="row">
					<div class="col-md-4 col-sm-4 form-group ">
						<label for="">Series</label>
						<select class="form-control applyselect select2-hidden-accessible MandateOrder" id="ddlDocSeries" tabindex="-1" aria-hidden="true" onchange="SetDocNumber(this);HideErrorMessage(this)">
						</select>
						<span id="spddlDocSeries" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>
					<div class="col-md-4 col-sm-4 form-group">
						<label class="readonlay">Sales Order No<sup>*</sup></label>
						<input id="txtOrderNo" disabled type="text" class="form-control readonlyfield MandateOrder" placeholder="Enter" onchange="HideErrorMessage(this)">
						<span id="sptxtOrderNo" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>
					</div>
					<div class="col-md-4 col-sm-4 form-group">
						<label class="readonlay">Order Date</label>
						<input type="text" id="txtOrderDate" class="form-control MandateOrder" placeholder="" readonly="">
						<span id="sptxtOrderDate" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>
					</div>
					<div class="col-sm-4 form-group">
						<label class="readonlay">PO No</label>
						<input id="txtPONo" type="text" class="form-control" placeholder="Enter" oninput="HideErrorMessage(this)">
						<span id="sptxtPONo" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>
					</div>
					<div class="col-md-4 col-sm-4 form-group">
						<label class="readonlay">PO Date</label>
						@*<input type="text" id="txtPODate" class="form-control MandateOrder" placeholder="" readonly="">
							<span id="sptxtPODate" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>*@
						<div class="input-group">
							<input type="text" id="txtPODate" autocomplete="off" class="datepicker form-control" readonly placeholder="DD/MM/YYYY">
							<span class="clear-date">×</span>
							<div class="input-group-append "> <span class="input-group-text bg-white"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span> </div>
							<span id="sptxtPODate" class="text-danger field-validation-error" style="display:none;">Oops! You missed this field!</span>
						</div>

					</div>
					<div class="col-md-4 col-sm-4">
						<label class="form-label">Payment Terms<sup>*</sup></label>
						<select id="ddlPaymentTerm" class="form-control applyselect select2-hidden-accessible MandateOrder" tabindex="-1" aria-hidden="true" onchange="HideErrorMessage(this)">
						</select>
						<span id="spddlPaymentTerm" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>
					<div class="col-md-4 col-sm-4">
						<label class="form-label">Terms & Condition<sup>*</sup></label>
						<select id="ddlTC" class="form-control applyselect select2-hidden-accessible MandateOrder" tabindex="-1" aria-hidden="true" onchange="HideErrorMessage(this)">
						</select>
						<span id="spddlTC" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>

					<div class="col-sm-4 form-group" style="display:none">
						<label class="readonlay">Ship To<sup>*</sup></label>
						<select class="form-control applyselect" id="ddlShipTo" name="" onchange="HideErrorMessage(this);"></select>
						<span id="spddlShipTo" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>
					<div class="col-sm-4 form-group" style="display:none">
						<label class="readonlay">Bill To<sup>*</sup></label>
						<select class="form-control applyselect" id="ddlBillTo" name="" onchange="HideErrorMessage(this);"></select>
						<span id="spddlBillTo" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>
					<div class="col-sm-4 form-group">
						<label class="readonlay">Currency<sup>*</sup></label>
						<select class="form-control applyselect MandateOrder" id="ddlCurrency" name="" onchange="HideErrorMessage(this);"></select>
						<span id="spddlCurrency" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>
					@if (ViewBag.OrderId > 0)
					{
						<div class="col-sm-4 form-group">
							<label class="readonlay"></label>
							<a href="#" onclick="DownLoadStep2Zip()" class="d-table"><img src="../assets/images/icons/help/download-icon.png" alt="" class="icon-sm" /> Download Artwork</a>
						</div>
					}
					<div class="col-sm-12 form-group">
						<label>Order For<sup>*</sup></label>

						<ul class="list-unstyled flex-wrap d-flex algin-items-center gap-10 mb-0">
							<li class="check-list-item p-0">
								<input type="radio" class="radio" id="domestic" name="OrderForType" value="1" disabled>
								<label for="domestic">Domestic</label>
							</li>
							<li class="check-list-item p-0">
								<input type="radio" id="international" class="radio checkselect" name="OrderForType" value="2" disabled>
								<label for="international">International</label>
							</li>
						</ul>
					</div>
					<div class="col-sm-6 form-group" style="display:none">
						<label>Fragrance<sup>*</sup></label>
						<input type="text" class="form-control" placeholder="as per approved sample" id="txtFragrance" onchange="HideErrorMessage(this);">
						<span id="sptxtFragrance" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-6 form-group">
		<div class="card h-100 br-none p-0">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Billing Address</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label class="readonlay">Address<sup>*</sup></label>
						<select class="form-control applyselect Mandatory" onchange="HideErrorMessage(this)" id="ddlBillingAddress">
						</select>
						<span id="spddlBillingAddress" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>

					</div>
					<div class="col-sm-6 form-group">
						<label>Address<sup>*</sup></label>
						<p id="txtBillingAddressDet"></p>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 form-group">
		<div class="card br-none p-0">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Shipping Address</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label class="readonlay">Address<sup>*</sup></label>
						<select class="form-control applyselect Mandatory" onchange="HideErrorMessage(this)" id="ddlShippingAddress">
						</select>
						<span id="spddlShippingAddress" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>

					</div>
					<div class="col-sm-6 form-group">
						<label>Address<sup>*</sup></label>
						<p id="txtShippingAddressDet"></p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 form-group">
		<div class="card br-none p-0">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Items Information</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group">
				<div class="table-responsive">
					<table id="datatableOrder" class="display stickyth   dgntable dataTable no-footer radius-0 itemsinformation">
						<thead>
							<tr>
								<th width="60px">Add Item</th>
								<th width="120px">Item Code</th>
								<th width="150px">Item Name</th>
								<th width="80px">Size</th>
								<th width="80px">Qty</th>
								<th width="55px">Qty Unit</th>
								<th width="80px" class="text-center">SFG/RM Price<span class="d-block">(per Kg)</span></th>
								<th width="80px" class="text-center">SFG/RM Price<span class="d-block">(per Pc)</span></th>
								<th width="100px" class="text-center">Total Packaging<span class="d-block">Cost(₹/Pc)</span></th>
								<th width="90px" class="text-center">Other Charges<span class="d-block">(₹/Pc)</span></th>
								<th width="80px" class="text-center">Selling Price<span class="d-block">(₹/Pc)</span></th>
								<th width="80px" class="text-center">Total Amount<span class="d-block">(₹)</span></th>
								<th width="100px" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody id="tableToModify">
							<tr>
								<td class="text-center">
									<div id="addrow" class="cursor-pointer"><img src="../../assets/images/icons/help/add.svg" alt="" /></div>
									<input type="hidden" id="hdnOrderDetId_0" />
								</td>
								<td>

									<div class="autocomplete-wrapper" style="position: relative;">
										<label for="ddlI_0" class="search-label">
											<img src="../../../assets/images/icons/help/search-icon.png" class="icon-sm" />
										</label>
										<input type="text" class="form-control searchlist MandateOrder" id="ddlI_0" oninput="Getdata(this)" onclick="Getdata(this)" placeholder="Type item..." autocomplete="off" />
										<span id="spddlI_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
										<ul id="globalSuggestionBox_0" class="suggestions"></ul>
										<input type="hidden" id="ddlItem_0" />
									</div>

								</td>
								<td>
									<label class="lblItemName m-0 p-0" id="lblItemName_0"></label>
								</td>
								@*<td>
										<input type="text" class="form-control" placeholder="Enter" id="txtSize_0">
										<span id="sptxtSize_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>

									</td>*@
								<td><label class="lblItemPackSize" id="lblItemPackSize_0"></label></td>
								<td>
									<input type="number" id="txtQuantity_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); CalculateRate(this); SetZero(this)">
									<span id="sptxtQuantity_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>

								</td>
								<td><label class="lblItemName" id="lblUnit_0"></label></td>
								<td><label class="lblItemPackSize" id="sfgcost_0">----</label></td>
								<td><label class="lblItemPackSize" id="sfgcostpc_0">----</label></td>
								<td><label class="lblItemPackSize" id="packcost_0">----</label></td>
								<td><label class="lblItemPackSize" id="otcharges_0">----</label></td>
								<td><label class="lblItemPackSize" id="sellingprice_0">----</label></td>
								<td><label class="lblItemPackSize" id="totalcost_0">----</label></td>
								@*<td>*@
								@*<input type="number" id="txtRMPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtRMPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtLabelPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtLabelPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtMCartonPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this);  SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtMCartonPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtLCPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this);  SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtLCPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtMargin_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtMargin_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtShrinkWrapPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtShrinkWrapPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>
									<td>
										<input type="number" id="txtMasterCartonPrice_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this); SetZero(this); calculateSellingPrice(0)">
										<span id="sptxtMasterCartonPrice_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</td>*@
								@*<td class="text-right" id="txtSellingPrice_0">₹ 0.00</td>*@
								<td class="text-center">
									<a
									   class="open-other-charges"
									   data-row-index="0"
									   onclick="handleBOMEdit(this)">
										@*onclick="handleOtherChargesClick(this)"*@
										Edit BOM
									</a>
									<!--  Add this hidden field below the link -->
									<input type="hidden" id="otherChargesJson_0" value="{}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row flex-column-reverse flex-lg-row">
	<div class="col-lg-4 col-sm-12 form-group">
		<div class="card br-none p-0 h-100">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Upload Customer PO</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group ">
				<div class="section-container section-container-popup">
					<div class="fileuploadview drag-area1">
						<div class="uploadicon_text file-input-button" id="fileInputButton1">
							<div class="uploadicon">
								<img src="~/assets/images/icons/help/fileupload-icon.svg" alt="">
							</div>
							<div class="uploadtext drag-file" id="dragFile1">
								<h4>Drop files here or click to upload</h4>
								<h6>This is a dropzone, drop files or click to browse</h6>
								<span class="error">The file size should be upto 2MB,<br /> with a maximum of 10 attachments.</span>
							</div>
						</div>
						<input type="file" id="fileAttachment1" class="file-input hidden" multiple />
						<div id="documentImages1" class="document-images"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3 form-group" style="display: none;">
		<div class="card br-none p-0 h-100">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Upload Packaging Image <span>*</span></h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group ">
				<div class="section-container section-container-popup">
					<div class="fileuploadview drag-area2">
						<div class="uploadicon_text file-input-button justify-m-content pb-m-0" id="fileInputButton2">
							<div class="uploadicon">

								<img src="~/assets/images/icons/help/fileupload-icon.svg" alt="" class="icon-sm d-m-block">
								<img src="~/assets/images/icons/help/camera-icon.png" class="icon-sm d-m-none d-none" />
							</div>
							<div class="uploadtext drag-file" id="dragFile2">
								<h4 class="d-m-none d-none"> Click here</h4>
								<h4 class="d-m-block">Drop files here or click to upload</h4>
								<h6 class="d-m-block">This is a dropzone, drop files or click to browse</h6>
								<span class="error d-m-block">The file size should be between 20KB and 2MB,<br> with a maximum of 10 attachments.</span>
							</div>
						</div>
						<input type="file" id="fileAttachment2" class="file-input hidden" multiple />
						<div id="documentImages2" class="document-images"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-5 col-md-12  col-sm-12 form-group">
		<div class="card br-none p-0 ">
			<div class="card-header d-flex justify-content-between bg-none ">
				<h2 class="title-two align-self-center">Remarks</h2>
				<div class="align-self-center"></div>
			</div>
			<div class="card-body view-form-group min-205">
				<textarea id="txtSaleRemark" class="form-control h-cm char-limit" rows="5" placeholder="Enter" data-maxlength="1000"></textarea>
			</div>
			<div class="text-right">
				<small class="light-label counter">0/1000</small>
			</div>
		</div>
	</div>

	@*<div class="col-lg-4 form-group" style="display:none">
			<div class="card br-none p-0 h-100">
				<div class="card-header d-flex justify-content-between bg-none ">
					<h2 class="title-two align-self-center">Purchase Order Image</h2>
					<div class="align-self-center"></div>
				</div>
				<div class="card-body view-form-group">
					<div class="section-container section-container-popup">
						<div class="fileuploadview drag-area2">
							<div class="uploadicon_text file-input-button" id="fileInputButton2">
								<div class="uploadicon">
									<img src="~/assets/images/icons/help/fileupload-icon.svg" alt="">
								</div>
								<div class="uploadtext drag-file" id="dragFile2">
									<h4>Drop files here or click to upload</h4>
									<h6>This is a dropzone, drop files or click to browse</h6>
									<span class="error">The file size should be upto 2MB,<br /> with a maximum of 10 attachments.</span>
								</div>
							</div>
							<input type="file" id="filePurchaseOrderImage" class="file-input hidden" multiple />
							<div id="documentImages2" class="document-images"></div>
						</div>
					</div>
				</div>
			</div>
		</div>*@

	<div class="col-lg-3 form-group">
		<div class="totalamount totalamountsm">
			<table class="">
				<thead>
					<tr>
						<td width="200">Total :</td>
						<td class="text-right" width="100">
							<span id="totalBeforeTaxAmt" class="d-block">0.00</span>

						</td>

					</tr>
					<tr>
						<td class="text-right" colspan="2"><span id="sptotalBeforeTax" class="text-danger  field-validation-error" style="display:none;">Hey, This should not be Zero!</span></td>
					</tr>
					<tr style="display:none">
						<td>
							<span data-toggle="tooltip" title="" data-original-title="Add">
								<a href="#" data-toggle="modal" data-target="#othercharge" onclick="RefreshData()">
									<img src="~/assets/images/icons/help/add.svg" alt="" class="icon-xsm cursor-pointer" />
								</a>
							</span>
							Other Charges :
						</td>

						<td class="text-right"><span class="otherChargesInput" id="otherChargesInputData">0.00</span> </td>
					</tr>
					<tr style="display:none">
						<td class="fn-sm">IGST :</td>
						<td class="text-right fn-sm"><span id="igstTotal">0.00</span></td>
					</tr>

					<tr style="display:none">
						<td class="fn-sm">CGST :</td>
						<td class="text-right fn-sm"><span id="cgstTotal">0.00</span></td>

					</tr>

					<tr style="display:none">
						<td class="fn-sm">SGST :</td>
						<td class="text-right fn-sm"><span id="sgstTotal">0.00</span></td>

					</tr>

					<tr style="display:none">
						<td>Total Tax :</td>
						<td class="text-right"><span id="totalTax" oninput="updateTotals()">0.00</span></td>

					</tr>

					<tr style="display:none">
						<td>Total (After Tax) :</td>
						<td class="text-right"><span id="totalAfterTaxAmt" oninput="updateTotals()">0.00</span></td>

					</tr>
					<tr>
						<td>GST Amount :</td>
						<td class="text-right">
							<div class="input-group-left w-120 float-right">
								<label class="input-group-icon" for="roundingAmt">₹</label>
								<input type="number" id="roundingAmt" class="form-control number text-right w-120 float-right" placeholder="0" oninput="SetZero(this);  updateTotals2()">
							</div>

						</td>

					</tr>
					<tr>
						<td class="br-m br-t">Total Amount :</td>
						<td class="br-m br-t text-right"><span id="totalAmt">₹ 0.00</span> </td>

					</tr>
					<tr>
						<td>Advance Amount :</td>
						<td class="text-right">
							<div class="input-group-left w-120 float-right">
								<label class="input-group-icon" for="advanceAmt">₹</label>
								<input type="number" id="advanceAmt" class="form-control text-right pl-22  number float-right" value="" placeholder="0" oninput="SetZero(this); updateTotals2()">
							</div>

						</td>

					</tr>
					<tr>
						<td class="br-none">Outstanding Amount :</td>
						<td class="br-none text-right"><span id="oustandingAmt">₹ 0.00</span> </td>

					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="col-md-12 align-self-end d-flex gap-10 justify-content-end text-right  mb-5">
	<button id="btnCancel" type="button" class="btn btn-lg  cancelbtn" onclick="RedirectOrderList()">Cancel</button>
	<button id="btnSubmit" type="button" class="btn  btn-lg  actionbtn" onclick="SaveOrderData()">@ViewBag.BT</button>

</div>

<!-- Popup Modal for File Limit -->
<div id="fileLimitPopup" class="popup-modal">
	<div class="popup-content">
		<p id="popup-message"></p>
		<button id="close-popup"><img src="~/assets/images/icons/help/close.svg" alt=""></button>
	</div>
</div>

<!--  Other Charges Order  Popup-->
<div class="modal fade drawer right-align" id="ItemOtherChargesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header side-header justify-content-between d-flex">
				<h2>Edit Other Charges (₹)</h2>
				<img src="../assets/images/icons/help/close-white-icon.png" class="cursor-pointer align-self-center close" data-dismiss="modal" />
			</div>
			<div class="modal-body mb-100">
				<!-- open -->
				<div class="row" id="dynamicItemOtherChargesModal">
					@*<div class="col-sm-12 form-group">
							<label>Semi Finished Goods</label>
							<div class="input-group input-group-left">
								<label for="SemiFinishedGoods" class="input-group-label">₹</label>
								<input type="number" value="" id="SemiFinishedGoods" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Primary Packaging</label>
							<div class="input-group input-group-left">
								<label for="PrimaryPackaging" class="input-group-label">₹</label>
								<input type="number" value="" id="PrimaryPackaging" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Cap/Pump</label>
							<div class="input-group input-group-left">
								<label for="CapPump" class="input-group-label">₹</label>
								<input type="number" value="" id="CapPump" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Print Label</label>
							<div class="input-group input-group-left">
								<label for="PrintLabel" class="input-group-label">₹</label>
								<input type="number" value="" id="PrintLabel" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Print M Carton</label>
							<div class="input-group input-group-left">
								<label for="PrintMCarton" class="input-group-label">₹</label>
								<input type="number" value="" id="PrintMCarton" class="form-control number" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Leaflet</label>
							<div class="input-group input-group-left">
								<label for="Leaflet" class="input-group-label">₹</label>
								<input type="number" value="" id="Leaflet" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Shrink Wrap</label>
							<div class="input-group input-group-left">
								<label for="ShrinkWrap" class="input-group-label">₹</label>
								<input type="number" value="" id="ShrinkWrap" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Master Carton</label>
							<div class="input-group input-group-left">
								<label for="MasterCarton" class="input-group-label">₹</label>
								<input type="number" value="" id="MasterCarton" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Conversion Cost</label>
							<div class="input-group input-group-left">
								<label for="ConversionCost" class="input-group-label">₹</label>
								<input type="number" value="" id="ConversionCost" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Margin</label>
							<div class="input-group input-group-left">
								<label for="Margin" class="input-group-label">₹</label>
								<input type="number" value="" id="Margin" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>

						<div class="col-sm-12 form-group">
							<label>Other Cost</label>
							<div class="input-group input-group-left">
								<label for="OtherCost" class="input-group-label">₹</label>
								<input type="number" value="" id="OtherCost" class="form-control number border-right border-r-8" placeholder="0.00" oninput="SetZero(this)"/>
							</div>
						</div>*@

				</div>

				<div class="side-footer ">
					<button class="btn btn-lg actionbtn" onclick="SaveItemOtherCharges()">Save</button>
				</div>


				<!-- End -->

			</div>
		</div>
	</div>
</div>


<div class="modal" id="othercharge">
	<div class="modal-dialog modal-xl modal-m-991-f modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100">Add Other Charges</h4>
				<button type="button" id="btnPopupClose" class="close" data-dismiss="modal" fdprocessedid="sjwo0k"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>
			</div>

			<div class="modal-body">
				<div class="table-responsive">
					<table id="tblOtherCharge" class="dgntable  dataTable no-footer othercharnge">
						<thead>
							<tr>
								<th width="20"></th>
								<th width="150px">Charge Name</th>
								<th width="100px">Charge Amount</th>
								<th width="100px" id="headerI">IGST (in %)</th>
								<th width="100px" id="headerC">CGST (in %)</th>
								<th width="100px" id="headerS">SGST (in %)</th>
								<th width="100px">Total Tax Amount</th>
								<th width="100px">Total Net Amount</th>

							</tr>
						</thead>
						<tbody id="tableToModify">
							<tr>
								<td data-label="">
									<span>
										<div id="addothercharge" class="cursor-pointer "><img style="pointer-events: none;" src="~/assets/images/icons/help/add.svg" alt="" data-toggle="tooltip" title="" data-original-title="Add" class="icon-sm"></div>

										<span style="display:none;" id="hdnOtherChargeId_0" class="hdnOtherChargeId">0</span>
										<span style="display:none;" id="hdnOtherNew_0" class="hdnOtherNew">0</span>
									</span>
								</td>
								<td data-label="Charge Name">
									<span>
										<select class="form-control applyselect ddlChargeName OMandate" id="ddlCharge_0" onchange="HideErrorMessage(this);setNARRCharges(this)">
											<option>Select</option>
										</select>
										<span id="spddlCharge_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</span>
								</td>
								<td data-label="Charge Amount">
									<span>
										<input type="number" id="txtChargeAmount_0" class="form-control text-right ChargeAmount OMandate" value="" placeholder="0" oninput="GetTax(this)" onchange="HideErrorMessage(this);SetZero(this)">
										<span id="sptxtChargeAmount_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>

									</span>
								</td>
								<td data-label="IGST (in %)" id="viewIGST">
									<span>

										<select class="form-control applyselect taxDdl" id="ddlTax_0" onchange="HideErrorMessage(this);GetTax(this)">
											<option>Select</option>
										</select>
										<span id="spddlTax_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</span>
								</td>
								<td data-label="CGST (in %)" id="viewCGST" style="display: none;">
									<span>

										<select class="form-control applyselect taxCDdl OCGSTPercentage" id="ddlCTax_0" onchange="HideErrorMessage(this);GetTax(this)">
											<option>Select</option>
										</select>
										<span id="spddlCTax_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</span>
								</td>
								<td data-label="SGST (in %)" id="viewSGST" style="display: none;">
									<span>

										<select class="form-control applyselect OSGSTPercentage taxSDdl" id="ddlSTax_0" onchange="HideErrorMessage(this);GetTax(this)">
											<option>Select</option>
										</select>
										<span id="spddlSTax_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!</span>
									</span>
								</td>
								<td data-label="Total Tax Amount">
									<span>
										<input placeholder="0" type="text" id="txtTax_0" class="form-control text-right TaxAmount OMandate" fdprocessedid="5nb56" disabled>

									</span>
								</td>
								<td class="text-right" data-label="Total Net Amount"><span class="TotalOtherChargeAmount" id="spTotalOtherCharge_0"></span></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="modal-footer text-center">

				<button type="button" class="btn btn-lg actionbtn" onclick="SaveOtherCharges()" fdprocessedid="ogmb0u">Save</button>
			</div>

		</div>
	</div>
</div>

<div id="fileLimitPopup" class="popup-modal">
	<div class="popup-content">
		<p id="popup-message"></p>
		<button id="close-popup"><img src="~/assets/images/icons/help/close.svg" alt=""></button>
	</div>
</div>

<script src="~/Areas/ManageOrder/DevScript/CreateOrder.js"></script>
<script src="~/Areas/ManageOrder/DevScript/fileupload1.js"></script>
<script src="~/Areas/ManageOrder/DevScript/fileupload2.js"></script>

<script>

    var isDuplicate = "@ViewBag.isDuplicate"
	var login_ID = "@loginIDs";

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body',
            placement: 'top',
            html: true,
            boundary: 'window'
        });
    });

</script>

